/*(0,0,1)*/
body{
    margin: 0.5em;  
    font-size: 1.1em;
    background-color: #DEF8FC;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    background-color: #4DD2FF;
}

section{
    border: 0.15em dashed #7BE6F7; 
    width: 100%;
    height: 100%;
    max-width: 20em;
    min-height: 10em;
}
